{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">

            {% for book in books %}
            <div class="book col-md-4">
                <a href="/books/{{ book.pub_date|date:'Y-m-d' }}">
                <h2>{{ book.name }}</h2>
                </a>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
            </div>
            {% endfor %}


        </div>
        {% if prev_page %}
        <a href="/books/{{ prev_page.pub_date|date:'Y-m-d' }}"> Предыдущая дата</a>
        {% endif%}
        {% if next_page %}
        <a href="/books/{{ next_page.pub_date|date:'Y-m-d' }}"> Следующая дата</a>
        {% endif%}


    </div>
{% endblock %}